@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>  It has been found that there are stocks in the inventory<br>
    of the product you are trying to delete , Do you wish to proceed ?
</h1>
    <a asp-action="Delete" asp-route-id="@TempData["id"]">YES</a><t>
        <a asp-action="Show" >NO</a> |
<script>

</script>