@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model E2.Models.StockModel
@{
    ViewData["Title"] = "Add";
}




<h1>Add</h1>

<h4>StockModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select id="Product" name="ProductId" asp-items="ViewBag.Ids" class="form-control">
                <option value="0">Please select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select id="Location" name="LocationId" asp-items="ViewBag.locations" class="form-control">
                    <option value="0">Please select</option>
                </select>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Show">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
